<div id="<%= dom_id sts_run %>">
  <p>
    <strong>Character:</strong>
    <%= sts_run.character %>
  </p>

  <p>
    <strong>Ascension:</strong>
    <%= sts_run.ascension %>
  </p>

  <p>
    <strong>Seed:</strong>
    <%= sts_run.seed %>
  </p>

  <p>
    <strong>Floor:</strong>
    <%= sts_run.floor %>
  </p>

  <p>
    <strong>Victory:</strong>
    <%= sts_run.victory %>
  </p>

  <p>
    <strong>Heart Kill:</strong>
    <%= sts_run.heart_kill %>
  </p>

  <p>
    <strong>Killed By:</strong>
    <%= sts_run.killed_by %>
  </p>

  <p>
    <strong>Gold:</strong>
    <%= sts_run.gold %>
  </p>

  <p>
    <strong>Max HP:</strong>
    <%= sts_run.max_hp %>
  </p>

  <p>
    <strong>Damage Taken:</strong>
    <%= sts_run.damage_taken %>
  </p>

  <p>
    <strong>Master Deck:</strong>
    <%= sts_run.master_deck %>
  </p>

  <p>
    <strong>Relics:</strong>
    <%= sts_run.relics %>
  </p>
</div>
