<p style="color: green"><%= notice %></p>

<h1>Slay the Spire Run Log</h1>

<div id="sts_runs">
  <% @sts_runs.order(local_time: :desc).each do |sts_run| %>
    <%# <%= render sts_run %>
    <p>
      <strong>
        <%= sts_run.character == 'THE_SILENT'? 'SILENT':sts_run.character%>
      </strong>
      |
      <strong>Ascension:</strong>
      <%= sts_run.ascension %>
      |
    <% if sts_run.victory %>
        <strong>Victory
      <% if sts_run.heart_kill %>
          Against the Heart
      <% end %>
        </strong>
      </p>
    <% end %>


    <% if !sts_run.victory %>
        <strong>Killed By:</strong>
        <%= sts_run.killed_by %>
    <% end %>
    <p>
      <%= link_to "Show this sts run", sts_run %>
    </p>
    <br/>
  <% end %>

</div>

<%= link_to "New sts run", new_sts_run_path %>
